opti_fret_courly/src/test/plans/plan.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT Reseau (Noeud+)> 
<!ELEMENT Noeud (TronconSortant+)> 
<!ATTLIST Noeud
	id CDATA #REQUIRED
	x CDATA #REQUIRED
	y CDATA #REQUIRED>
<!ELEMENT TronconSortant EMPTY>
<!ATTLIST TronconSortant
	longueur CDATA #REQUIRED	
	destination CDATA #REQUIRED
	vitesse CDATA #REQUIRED
	nomRue CDATA #REQUIRED>
